$enable-responsive-font-sizes: true;
$enable-gradients: true;
$enable-shadows: true;

$theme-colors: (
    "fb-blue": #4267B2,
    "g-red": #DB4437,
    "primary": #66fcf1,
    "dark-primary": #00978e,
    "accent": #3eddd2,
    "darker-primary": #172625,
    "secondary": #a1abb9,
    "dark": #1F2833,
    "light": #e0e0e0,
    "success": #06d6a0,
    "info": #039BE5,
    "warning": #faae42,
    "danger": #FF7273,
    "black": #000,
    "white": #fff,
    "dark-grey": #161616,
    "light-grey": #2c2c2c,
    "trasparent": transparent,
);